<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Chat App - Home</title>
</head>
<body style="background-color: #3599dc;">
    
    <div id="home_action_bar" class="action_bar">
        <button id="logout_btn" onclick="logout()">Logout</button>
    </div>
    
    <div id="home_page_controls">
        <button id="create_room_btn" onclick="createRoom()">Create Room</button>
        <label class="home_page_txt">Or</label>
        <label class="home_page_txt">Join Room</label>
        <input id="room_id_txtbx" type="text" placeholder="Room Id">
        <button id="join_room_btn" onclick="joinRoom()">Join Room</button>
    </div>

    <script src="./scripts/Home.js"></script>
</body>
</html>