<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Chat App - Login</title>
</head>
<body style="background-color: #3599dc;">
    <div class="auth_form_area">
        <form action="/login" method="POST">
            <label class="auth_title">Login</label><br>
            <input type="text" name="login_email" class="auth_textbox" placeholder="Email"><br>
            <input type="password" name="login_pss" class="auth_textbox" placeholder="Password"><br>
            <a href="/forgotpassword" id="forgot_password">Forgot Password ?</a>
            <input type="submit" class="auth_submit" value="Login">
        </form>
        <a href="/register">Do not have an account ? Sign Up</a><br>

        <script src="./scripts/Login.js"></script>
    </div>
</html>