<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Chat App - Login</title>
</head>
<body style="background-color: #3599dc;">
    <div class="auth_form_area">
        <label class="auth_title">Login</label><br>
        <input type="text" id="login_email" class="auth_textbox" placeholder="Email"><br>
        <input type="password" id="login_pss" class="auth_textbox" placeholder="Password"><br>
        <a href="/forgotpassword" id="forgot_password">Forgot Password ?</a>
        <button class="auth_submit" onclick="loginUser()">Login</button>
        <a href="/register">Do not have an account ? Sign Up</a><br>
        <p class="auth_error_alert"></p>
    </div>
    <script src="./scripts/Login.js"></script>
</body>
</html>