<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Chat App - Profile</title>
</head>
<body style="background-color: #3599dc;">

    <div class="auth_form_area">
        <label class="auth_title">Profile</label><br>
        <input type="text" name="signup_email" id="username_box" class="auth_textbox"><br>
        <button class="auth_submit" onclick="updateDetails()">Update Profile</button>
        <p class="auth_error_alert"></p>
    </div>

    <script src="./scripts/Profile.js"></script>
</body>
</html>