

body{
    display: block;
    margin: auto;
}

.auth_form_area
{
    display: block;
    background-color: white;
    position: absolute;
    top: 20%;
    left: 30%;
    width: 30%;
    text-align: center;
    overflow-y: auto;
    margin: auto;
    border-radius: 5px;
    padding: 5%;
}

.auth_title{
    display: block;
    font-size: 50px;
    color: grey;
    margin-bottom: 8px;
}

.auth_textbox{
    display: block;
    margin-top: auto;
    width: 90%;
    font-size: 25px;
    background-color: #f2f2f2;
    border: 0px;
    padding: 8px;
}

.auth_submit{
    display: block;
    margin-bottom: 10px;
    margin-top: 25px;
    width: 94%;
    padding:8px;
    background-color: #3598dc;
    color: white;
    border: 0px;
    font-size: 25px;
}

.auth_error_alert{
    color: red;
    font-style: italic;
}

.auth_form_area #forgot_password{
    float:left;
    display: block;
    margin-bottom: 10px;
}

#home_page_controls
{
    display: block;
    position: absolute;
    top: 36%;
    left: 39%;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

#create_room_btn
{
    display: block;
    margin: auto;
    font-size: larger;
}

.home_page_txt 
{
    display: block;
    text-align: center;
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 10px;
}

#room_id_txtbx
{
    display: block;
    font-size: larger;
    margin-bottom: 10px;
}

#join_room_btn
{
    display: block;
    margin: auto;
    font-size: larger;
}